.detail_main {
  text-align: center;
  font-family: "baseFont";
}

.detail_image {
  position: relative;
  height: 17.5rem;
}

.detail_layer {
  background-color: rgba(0, 0, 0, 0.432);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.detail_textDiv {
  position: absolute;
  top: 70%;
  padding-left: 20px;
  text-align: left;
  color: white;
  z-index: 9;
  /* bottom: 5%;  */
}

.detail_exerName {
  /* font-size: 2.25rem;
  text-align: center;
  margin-top: 1.25rem;
  background: #3da2ff;
  border-radius: 0px 10px 10px 0px;
  padding: 0.3125rem;
  margin-bottom: 0.625rem;
  padding-left: 1.875rem;
  color: white;
  word-break: keep-all; */
  font-size: 1.5rem;
  font-family: "dohyeon";
}

.detail_category {
  /* font-size: 1.125rem;
  text-align: center;
  background: #3da2ff;
  border-radius: 0px 10px 10px 0px;
  padding: 0.3125rem;
  margin-bottom: 0.625rem;
  padding-left: 1.875rem;
  color: white; */
  font-size: 1rem;
  font-family: "baseFont";
  font-weight: 300;
}

.detail_prepare {
  color: #3da2ff;
  text-align: left;
  padding-left: 0.625rem;
  padding-top: 0.625rem;
  font-size: 1.3rem;
}

.detail_title {
  color: #3da2ff;
  text-align: left;
  padding-left: 0.625rem;
  padding-top: 0.625rem;
  font-size: 1.5625rem;
}

.detail_article {
  text-align: left;
  font-family: "nexon";
  font-size: 1rem;
  padding: 0.625rem;
  line-height: 1.5rem;
}

.detail_inputSolo {
  width: 12.5rem;
  height: 2.5rem;
  margin-top: 0.8125rem;
  background: #f2f2f2;
  border: none;
  border-radius: 0.4375rem;
  text-align: center;
  margin-bottom: 0.625rem;
  font-family: "baseFont";
  font-size: 0.9rem;
}

.detail_inputChallenge {
  width: 12.5rem;
  height: 2.5rem;
  margin-top: 0.8125rem;
  background: #f2f2f2;
  border: none;
  border-radius: 0.4375rem;
  text-align: center;
  color: red;
  margin-bottom: 0.625rem;
  font-family: "baseFont";
  font-size: 0.9rem;
}

.detail_inputDiv {
  text-align: center;
  width: 21.875rem;
  height: 2.5rem;
  border-radius: 0.4375rem;
  display: flex;
  margin: 0 auto;
  margin-top: 0.8125rem;
  margin-bottom: 1.25rem;
}

.detail_inputDiv input[value="운동 시작"],
input[value="챌린지 시작"] {
  font-family: "baseFont";
  font-size: 0.9rem;
}

.detail_execTrue {
  width: 50%;
  height: 2.5rem;
  background: #3da2ff;
  border: none;
  border-radius: 0.3125rem 0rem 0rem 0.3125rem;
  color: white;
}

.detail_challengeTrue {
  width: 50%;
  height: 2.5rem;
  background: #fa6f6f;
  border: none;
  border-radius: 0rem 0.3125rem 0.3125rem 0rem;
  color: white;
}

.detail_execFalse {
  width: 50%;
  height: 2.5rem;
  background: #f2f2f2;
  border: none;
  border-radius: 0.3125rem 0rem 0rem 0.3125rem;
}

.detail_challengeFalse {
  width: 50%;
  height: 2.5rem;
  background: #f2f2f2;
  border: none;
  border-radius: 0rem 0.3125rem 0.3125rem 0rem;
}

.detail_center_title {
  text-align: left;
  font-size: 1.875rem;
  padding-left: 1.25rem;
  padding-top: 0.625rem;
}

.detail_center_category {
  text-align: left;
  font-size: 1rem;
  padding-left: 1.25rem;
}

.swal2-popup {
  font-size: 0.75rem !important;
  font-family: "BMDOHYEON";
}

/* .detail_exerstart {
  width: 21.875rem;
  height: 2.5rem;
  margin-top: .8125rem;
  background: #F2F2F2;
  border: none;
  border-radius: .4375rem;
  padding-left: .625rem;
} */

/* .detail_exerstart input:first-child {
  background-color: transparent;
  border: none;
  width: 8.75rem;
  font-size: 15px;
  padding-left: 0.625rem;
  text-align: center;
} */

/* .detail_exerstart input:last-child {
  width: 9.12rem;
  background-color: transparent;
  border: none;
  background: #3da2ff;
  color: white;
  border-radius: 0.5375rem;
  font-size: 18px;
} */

/* .detail_text {
  text-align: justify;
  text-align: left;
  word-break: keep-all;
} */
