.detail_exerName {
  font-size: 2.25rem;
  margin: 15px 0;
}

.detail_exerstart {
  width: 17.87rem;
  height: 2.8125rem;
  background: #f2f2f2;
  border: none;
  border-radius: 0.5375rem;
  display: flex;
  margin: 0 auto;
}

.detail_exerstart input:first-child {
  background-color: transparent;
  border: none;
  width: 8.75rem;
  font-size: 15px;
  padding-left: 0.625rem;
  /* text-align: center; */
}

.detail_exerstart input:last-child {
  width: 9.12rem;
  background-color: transparent;
  border: none;
  background: #3da2ff;
  color: white;
  border-radius: 0.5375rem;
  font-size: 18px;
}

.detail_text {
  /* text-align: justify; */
  text-align: left;
  word-break: keep-all;
}

.UserRegister_genderDiv {
  text-align: center;
  width: 21.875rem;
  height: 2.5rem;
  border-radius: .4375rem;
  display: flex;
  margin: 0 auto;
  margin-top: .8125rem;
}

.UserRegister_maleTrue {
  width: 50%;
  height: 2.5rem;
  background: #3DA2FF;
  border: none;
  border-radius: .3125rem 0rem 0rem .3125rem;
  color: white;
}

.UserRegister_femaleTrue {
  width: 50%;
  height: 2.5rem;
  background: #3DA2FF;
  border: none;
  border-radius: 0rem .3125rem .3125rem 0rem;
  color: white;
}

.UserRegister_maleFalse {
  width: 50%;
  height: 2.5rem;
  background: #F2F2F2;
  border: none;
  border-radius: .3125rem 0rem 0rem .3125rem;
}

.UserRegister_femaleFalse {
  width: 50%;
  height: 2.5rem;
  background: #F2F2F2;
  border: none;
  border-radius: 0rem .3125rem .3125rem 0rem;
}