.userMain_total_div {
  padding: 0;
  margin: 0;
  background-color: white;
}

.UserMain_white {
  width: 100%;
  padding-top: 2.1875rem;
}

.UserMain_gray {
  width: 100%;
  padding-top: 2.1875rem;
}

.UserMain_centerTitle {
  padding-left: 1.25rem;
  padding-bottom: 1.25rem;
  font-size: 1.25rem;
}

.UserMain_centerMap {
  padding-left: 3.75rem;
  padding-right: 3.125rem;
}

.UserMain_centerContents {
  text-align: left;
  padding-left: 1.25rem;
  padding-bottom: .9375rem;
  padding-top: 3.125rem;
  font-size: 1rem;
  font-family: 'dohyeon';
  color: black;
}

.UserMain_centerContents_title {
  font-size: 1.5rem;
}

.UserMain_centerVideoSlider {
  width: 15rem;
  height: auto;
  margin: 0 auto;
  padding: 0 0 0 1.25rem;
}

.main_image_div {
  margin-top: 1.875rem;
}

.main_image_div img {
  border-radius: 1.25rem;
}

.main_logo_div {
  padding-top: 1.25rem;
  padding-left: 1.25rem;
  text-align: left;
  padding-bottom: 1rem;
}

.main_logo {
  width: 150px;
}

.main_span_big {
  font-size: 1.5rem;
  padding-right: 1px;
  font-family: 'dohyeon';
}

.main_span_small {
  font-size: 1.25rem;
  padding-right: 1px;
  font-family: 'dohyeon';
}

.main_logo_image {
  top: 17px;
  position: absolute;
  width: 1.6875rem;
}