.UserRegister_main {
  text-align: center;
  font-family: "BMDOHYEON";
}

.UserRegister_info {
  text-align: left;
  padding-left: 1.875rem;
  padding-top: 8.125rem;
  padding-bottom: 1.875rem;
  font-size: 1.4375rem;
}

.UserRegister_inputDiv {
  text-align: center;
  width: 22.5rem;
  height: 2.5rem;
  background: #f2f2f2;
  border: none;
  border-radius: 0.4375rem;
  display: flex;
  margin: 0 auto;
  margin-top: 0.8125rem;
  font-family: "GmarketSansMedium";
}

.UserRegister_input {
  background-color: transparent;
  border: none;
  width: 18.875rem;
  height: 2.5rem;
  padding-left: 0.625rem;
  font-family: "GmarketSansMedium";
}

.UserRegister_overlap {
  background-color: transparent;
  border: none;
  background: #3da2ff;
  color: white;
  border-radius: 0rem 0.4375rem 0.4375rem 0rem;
  font-family: "GmarketSansMedium";
}

.UserRegister_button {
  width: 21.875rem;
  height: 2.5rem;
  margin: 0.625rem;
  /* margin-top: 1.25rem; */
  margin-bottom: 3.125rem;
  background: #3da2ff;
  border-radius: 24px;
  border: none;
  color: white;
  font-family: "Inter";
  font-style: normal;
  font-weight: 1000;
  font-size: 1.0625rem;
  letter-spacing: 0.2rem;
  text-align: center;
  font-family: "GmarketSansMedium";
}

.UserRegister_error {
  text-align: left;
  padding-top: 0.625rem;
  padding-left: 2.8125rem;
  color: red;
  font-size: 0.8125rem;
  font-family: "GmarketSansMedium";
}

.UserRegister_inputSolo {
  width: 21.875rem;
  height: 2.5rem;
  margin-top: 0.8125rem;
  background: #f2f2f2;
  border: none;
  border-radius: 0.4375rem;
  padding-left: 0.625rem;
  font-family: "GmarketSansMedium";
}

.UserRegister_genderDiv {
  text-align: center;
  width: 22.5rem;
  height: 2.5rem;
  border-radius: 0.4375rem;
  display: flex;
  margin: 0 auto;
  margin-top: 0.8125rem;
  font-family: "GmarketSansMedium";
}

.UserRegister_maleTrue {
  width: 50%;
  height: 2.5rem;
  background: #3da2ff;
  border: none;
  border-radius: 0.3125rem 0rem 0rem 0.3125rem;
  color: white;
  font-family: "GmarketSansMedium";
}

.UserRegister_femaleTrue {
  width: 50%;
  height: 2.5rem;
  background: #3da2ff;
  border: none;
  border-radius: 0rem 0.3125rem 0.3125rem 0rem;
  color: white;
  font-family: "GmarketSansMedium";
}

.UserRegister_maleFalse {
  width: 50%;
  height: 2.5rem;
  background: #f2f2f2;
  border: none;
  border-radius: 0.3125rem 0rem 0rem 0.3125rem;
  font-family: "GmarketSansMedium";
}

.UserRegister_femaleFalse {
  width: 50%;
  height: 2.5rem;
  background: #f2f2f2;
  border: none;
  border-radius: 0rem 0.3125rem 0.3125rem 0rem;
  font-family: "GmarketSansMedium";
}

.swal2-popup {
  font-size: 0.75rem !important;
  font-family: "BMDOHYEON";
}
