.Navigator_bar {
  position: fixed;
  width: 100%;
  height: 3.125rem;
  bottom: 0px;
  background: #3DA2FF;
  /* border-top: 1px solid #3DA2FF; */
  text-align: center;
  vertical-align: middle;
  margin-top: 1.875rem;
  z-index: 99;
}

.Navigator_image {
  width: 10%;
  margin-left: 1.875rem;
  margin-right: 1.875rem;
}