.CenterRegister_main {
  text-align: center;
}

.CenterRegister_info {
  text-align: left;
  padding-left: 1.875rem;
  padding-top: 8.125rem;
  padding-bottom: 1.875rem;
  font-size: 1.4375rem;
  font-family: "BMDOHYEON";
}

.CenterRegister_inputDiv {
  text-align: center;
  width: 22.5rem;
  height: 2.5rem;
  background: #F2F2F2;
  border: none;
  border-radius: .4375rem;
  display: flex;
  margin: 0 auto;
  margin-top: .8125rem;
  font-family: 'GmarketSansMedium';
}

.CenterRegister_input {
  background-color: transparent;
  border: none;
  width: 18.875rem;
  height: 2.5rem;
  padding-left: .625rem;
  font-family: 'GmarketSansMedium';
}

.CenterRegister_overlap {
  background-color: transparent;
  border: none;
  background: #3DA2FF;
  color: white;
  border-radius: 0rem .4375rem .4375rem 0rem;
  font-family: 'GmarketSansMedium';
}

.CenterRegister_button {
  width: 21.875rem;
  height: 2.5rem;
  margin: .625rem;
  /* margin-top: 1.25rem; */
  margin-bottom: 3.125rem;
  background: #3DA2FF;
  border-radius: 24px;
  border: none;
  color: white;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 1000;
  font-size: 1.0625rem;
  letter-spacing: 0.2rem;
  text-align: center;
  font-family: 'GmarketSansMedium';
}

.CenterRegister_error {
  text-align: left;
  padding-top: .625rem;
  padding-left: 2.8125rem;
  color: red;
  font-size: .8125rem;
  font-family: 'GmarketSansMedium';
}

.CenterRegister_inputSolo {
  width: 21.875rem;
  height: 2.5rem;
  margin-top: .8125rem;
  background: #F2F2F2;
  border: none;
  border-radius: .4375rem;
  padding-left: .625rem;
  font-family: 'GmarketSansMedium';
}

.CenterRegister_genderDiv {
  text-align: center;
  width: 21.875rem;
  height: 2.5rem;
  border-radius: .4375rem;
  display: flex;
  margin: 0 auto;
  margin-top: .8125rem;
  font-family: 'GmarketSansMedium';
}

.CenterRegister_maleTrue {
  width: 50%;
  height: 2.5rem;
  background: #3DA2FF;
  border: none;
  border-radius: .3125rem 0rem 0rem .3125rem;
  color: white;
  font-family: 'GmarketSansMedium';
}

.CenterRegister_femaleTrue {
  width: 50%;
  height: 2.5rem;
  background: #3DA2FF;
  border: none;
  border-radius: 0rem .3125rem .3125rem 0rem;
  color: white;
  font-family: 'GmarketSansMedium';
}

.CenterRegister_maleFalse {
  width: 50%;
  height: 2.5rem;
  background: #F2F2F2;
  border: none;
  border-radius: .3125rem 0rem 0rem .3125rem;
  font-family: 'GmarketSansMedium';
}

.CenterRegister_femaleFalse {
  width: 50%;
  height: 2.5rem;
  background: #F2F2F2;
  border: none;
  border-radius: 0rem .3125rem .3125rem 0rem;
  font-family: 'GmarketSansMedium';
}