.cl_first_td {
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  background-color: #605e5e;
  border-spacing: 0;
  padding: 0;
}

.cl_first_td > img {
  width: 90px;
  height: 122px;
  margin: 0;
  padding: 0;
  display: block;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}

.cl_second_td {
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  background-color: #605e5e;
  width: 75%;
}

.cl_second_td > p {
  color: white;
  padding-left: 5px;
}

.cl_videotitle {
  font-size: 20px;
  margin: 10px 0;
  text-align: left;
  word-break: keep-all;
}
