/* 검색창 */
.CNS_search_main {
  text-align: center;
}

.CNS_search_info {
  padding-top: 3.125rem;
  padding-bottom: 0.9375rem;
  font-size: 1.875rem;
  font-family: "BMDOHYEON";
}

.CNS_search_div {
  text-align: center;
  width: 21.875rem;
  height: 2.8125rem;
  background: #f2f2f2;
  border: none;
  border-radius: 0.4375rem;
  display: flex;
  margin: 0 auto;
  margin-top: 0.8125rem;
}

/* .CNS_search_div > p:first-child {
  text-align: center;
  font-size: 25px;
} */

/* .CNS_search_div > form {
  padding: 7px;
  border: 2px solid #3da2ff;
  margin: 0 5%;
  margin-bottom: 20%;
} */

.CNS_search_input {
  background-color: transparent;
  border: none;
  width: 18.75rem;
  padding-left: 0.625rem;
  font-family: "GmarketSansMedium";
}

.CNS_search_button {
  width: 3.125rem;
  background-color: transparent;
  border: none;
  background: #3da2ff;
  color: white;
  border-radius: 0rem 0.4375rem 0.4375rem 0rem;
}

/* .CNS_search_div {
  border-bottom: 1px solid black;
} */

.CNS_search_button img {
  width: 20px;
  height: 20px;
}

/* 추천 검색어 */
.CNS_rec_div {
  margin-bottom: 1rem;
}

.CNS_rec_div p {
  text-align: left;
  padding-left: 2.25rem;
  font-family: "GmarketSansMedium";
}

/* 가로 스크롤을 주기 위해서는 float:left; 주면 안 되고,
  자식 요소에 display:inline-block;주고
  부모 요소에 white-space:nowrap; overflwow:scroll; 주라고 함*/
.CNS_rec_div ul {
  width: 23rem;
  height: 2.5rem;
  overflow: scroll;
  white-space: nowrap;
  margin-left: 2rem;
  padding-left: 1rem;
  font-family: "GmarketSansMedium";
}

.CNS_rec_div li {
  list-style: none;
  /* float: left; */
  display: inline-block;
  padding: 0.5rem 2rem;
  margin-right: 1rem;
  background: #3da2ff;
  color: white;
  border-radius: 20px;
}

/* 그리드 */
.CNS_grid_category {
  margin-top: 1.875rem;
  /* margin-top: 3rem; */
  border-top: 1px solid #424242;
}

.CNS_grid_div {
  padding: 20px;
  width: 30%;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}

.CNS_category_item {
  margin: 20px;
}

.CNS_image {
  width: 85px;
  height: 83px;
  /* text-align: center; */
  position: relative;
  /* background-color: #e5f3ff; */
  background: #3da2ff;
  border-radius: 50%;
}

.CNS_image > img {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 18%;
  left: 21%;
}

.CNS_category_item > p {
  margin: 5px 0;
  text-align: center;
  font-family: "GmarketSansMedium";
}
