/* 
테이블 셀 안에 이미지를 여백 없이 채워넣기 위해서 
  .sa_first_td에 border-spacing:0; padding:0;
  .sa_first_td_img에 margin:0, padding:0; display:block;
  하고 이미지를 셀(td)의 너비 높이 길이에 맞춰주면 됨.  
*/
.sa_total_div {
  display: flex;
  text-align: center;
}

.sa_first_td_img {
  width: 6.25rem;
  height: 6.25rem;
  margin-left: .25rem;
  border-top-left-radius: .5625rem;
  border-bottom-left-radius: .5625rem;
}

.sa_second_td {
  background-color: #605e5e;
  width: 17rem;
}

.sa_second_td {
  width: 18.75rem;
  height: 6.25rem;
  border-top-right-radius: .5625rem;
  border-bottom-right-radius: .5625rem;
}

/* .sa_first_td {
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  background-color: #605e5e;
  border-spacing: 0;
  padding: 0;
}

.sa_first_td_img {
  width: 92px;
  height: 124px;
  margin: 0;
  padding: 0;
  display: block;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}

.sa_second_td {
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  background-color: #605e5e;
  width: 75%;
}

.sa_second_td>p {
  color: white;
  padding-left: 5px;
}

.sa_videotitle {
  font-size: 20px;
  margin: 10px 0;
  text-align: left;
  word-break: keep-all;
} */