.modelC {
  margin: 0;
  padding: 0;
  text-align: center;
  margin-top: 1.875rem;
}

.AIModelSelect_C_video_model {
  margin-top: .25rem;
  width: 100%;
}

.videoModel {
  width: 100%;
}

.svgColor {
  width: 0;
  height: 0;
}

.AIModelSelect_C_counter_div {
  padding-top: 3.125rem;
  height: 1.875rem;
  width: 100%;
  font-size: 1.5625rem;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.AIModelSelect_C_counter_text_div {
  background: #3da2ff;
  color: white;
  width: 50%;
  height: 32px;
  /* border-radius: 7px 0 0 7px; */
  font-family: "GmarketSansMedium";
  line-height: 1.5;
}

.AIModelSelect_C_info_div {
  background: #b6dcff;
  color: black;
  width: 100%;
  height: 50px;
  font-size: 1.25rem;
  /* border-radius: 0 7px 7px 0; */
  font-family: "GmarketSansMedium";
  line-height: 2.8;
}

.AIModelSelect_C_counting_div {
  background: whitesmoke;
  color: black;
  width: 50%;
  height: 32px;
  /* border-radius: 0 7px 7px 0; */
  font-family: "GmarketSansMedium";
  line-height: 1.5;
}

.AIModelSelect_C_text {
  margin-top: 2.5rem;
  font-size: 1.5625rem;
  font-family: "GmarketSansMedium";
}

.AIModelSelect_C_challenge_bottom_div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2.5rem;
}

.AIModelSelect_C_challenge_no {
  background: #424242;
  color: white;
  width: 9.375rem;
  margin-right: 3.125rem;
  border-radius: 7px;
  height: 1.875rem;
  font-size: 1.25rem;
  font-weight: 700;
  font-family: "GmarketSansMedium";
  line-height: 1.7;
}

.AIModelSelect_C_challenge_yes {
  background: #3da2ff;
  color: white;
  width: 9.375rem;
  border-radius: 7px;
  height: 1.875rem;
  font-size: 1.25rem;
  font-weight: 700;
  font-family: "GmarketSansMedium";
  line-height: 1.7;
}