.AIModelSelect_top_div {
    margin: 0;
    padding: 0;
    text-align: center;
}

.AIModelSelect_guide_img{
    width: 21.875rem;
    height: 18.75rem;
}

.AIModelSelect_feedback_div{
    height: 1.875rem;
}

.AIModelSelect_counter_div{
    height: 1.875rem;
}