/* .ChallengeRank_top {
  margin-bottom: 5.625rem;
}

.ChallengeRank_rank_text {
  font-size: 2.5rem;
  text-align: center;
  margin-top: 5rem;
}

.ChallengeRank_main_div {
  margin: 0 auto;
  margin-top: 1.875rem;
  width: 25rem;
  height: 6.25rem;
  border-radius: 7px;
  display: flex;
  background-color: #605e5e;
}

.ChallengeRank_main_profile {
  width: 6.25rem;
  height: 6.25rem;
  border-radius: 7px 0 0 7px;
  background-color: #b8b8b8;
}

.ChallengeRank_main_profile img {
  width: 6.25rem;
  height: 6.25rem;
}

.ChallengeRank_main_profile img {
}

.ChallengeRank_main_rank {
  display: flex;
  color: white;
  font-size: 1.875rem;
  font-weight: 800;
  height: 1.875rem;
  width: 6.25rem;
  margin-top: 1.625rem;
  margin-left: 1.25rem;
}

.ChallengeRank_main_name {
  display: flex;
  color: white;
  margin: 0 auto;
  text-align: center;
  font-size: 1.5625rem;
  font-weight: 800;
  height: 1.875rem;
  margin-top: 0.625rem;
}

.ChallengeRank_my_rank {
  margin: 0 auto;
  width: 100%;
  height: 6.25rem;
  display: flex;
  background-color: #605e5e;
  position: fixed;
  bottom: 50px;
  margin-bottom: 0.3125rem;
} */

.ChallengeRank_top {
  margin-bottom: 5rem;
}

.ChallengeRank_rank_text {
  width: 300px;
  /* background: #3da2ff; */
  font-size: 3rem;
  text-align: center;
  /* color: whitesmoke; */
  margin: 0 auto;
  margin-top: 3.125rem;
  margin-bottom: 1.875rem;
  border-radius: 15px;
  font-family: "BMDOHYEON";
  color: #313131;
}

.ChallengeRank_main_div {
  margin: 0;
  padding: 0;
  display: flex;
}

.ChallengeRank_main_profile {
  width: 6.25rem;
  height: 6.25rem;
  margin-left: 0.75rem;
  border-top-left-radius: 0.5625rem;
  border-bottom-left-radius: 0.5625rem;
  box-shadow: 0px 0.1875rem 0.1875rem rgba(0, 0, 0, 0.15);
}

.ChallengeRank_main_total_text {
  background-color: whitesmoke;
  width: 18.75rem;
  height: 6.25rem;
  border-top-right-radius: 0.5625rem;
  border-bottom-right-radius: 0.5625rem;
  margin-bottom: 1.25rem;
  color: #575757;
  box-shadow: 0px 0.1875rem 0.1875rem rgba(0, 0, 0, 0.15);
  display: flex;
  font-family: 'nexon';
  font-weight: 900;
}

.ChallengeRank_main_rank {
  font-size: 2rem;
  width: 6.25rem;
  text-align: center;
  /* letter-spacing: .3125rem; */
  line-height: 6.25rem;
  font-family: 'dohyeon';
  padding-left: .8rem;
}

.ChallengeRank_main_name {
  font-size: 1.125rem;
  width: 12.5rem;
  letter-spacing: 0.125rem;
  padding-top: .625rem;
  line-height: 2.7rem;
  text-align: center;
}

.ChallengeRank_my_rank {
  color: white;
  width: 100%;
  height: 7.5rem;
  display: flex;
  background-color: #424242;
  position: fixed;
  bottom: 4.375rem;
}

.ChallengeRank_my_profile {
  width: 100%;
  height: 100%;
  background-size: 100%;
}

.ChallengeRank_my_total_text {
  display: flex;
}

.ChallengeRank_my_ranking {
  font-size: 2.5rem;
  width: 7.8125rem;
  text-align: right;
  letter-spacing: 1rem;
  line-height: 7.5rem;
  font-family: "dohyeon";
}

.ChallengeRank_my_name {
  font-size: 1.5rem;
  width: 11.25rem;
  padding-top: .94rem;
  letter-spacing: 0.5rem;
  line-height: 2.7rem;
  font-family: 'nexon';
  text-align: center;
}

.ChallengeRank_rank_select_div {
  text-align: center;
  width: 21.875rem;
  height: 2.5rem;
  background: #f2f2f2;
  border: none;
  border-radius: 0.4375rem;
  display: flex;
  margin: 0 auto;
  margin-top: 1.5625rem;
  margin-bottom: 1.5625rem;
}

.ChallengeRank_rank_select {
  background-color: transparent;
  border: none;
  width: 18.875rem;
  height: 2.5rem;
  padding-right: 1.25rem;
  text-align: right;
  font-family: "GmarketSansMedium";
}

.ChallengeRank_rank_select option {
  letter-spacing: 0.8px;
}
.ChallengeRank_rank_select_overlap {
  background-color: transparent;
  border: none;
  padding-left: 1.25rem;
  border-radius: 0.4375rem 0rem 0rem 0.4375rem;
  font-family: "GmarketSansMedium";
  font-size: 14px;
  line-height: 1.2;
}
