.UserMyPage_main {
  text-align: center;
}

.UserMyPage_info {
  text-align: left;
  padding-left: 2.5rem;
  padding-top: 6.25rem;
  padding-bottom: 1.875rem;
  font-size: 1.4375rem;
}

.UserMyPage_inputDiv {
  text-align: center;
  width: 21.875rem;
  height: 2.5rem;
  background: #f2f2f2;
  border: none;
  border-radius: 0.4375rem;
  display: flex;
  margin: 0 auto;
  margin-top: 1.5625rem;
}

.UserMyPage_input {
  background-color: transparent;
  border: none;
  width: 18.875rem;
  height: 2.5rem;
  padding-right: 1.25rem;
  text-align: right;
}

.UserMyPage_overlap {
  background-color: transparent;
  border: none;
  padding-left: 1.25rem;
  /* background: #3DA2FF; */
  /* color: white; */
  border-radius: 0.4375rem 0rem 0rem 0.4375rem;
}

.UserMyPage_inputAddress {
  text-align: center;
  /* padding-left: 1.25rem; */
  width: 21.875rem;
  height: 2.5rem;
  background: #f2f2f2;
  border: none;
  border-radius: 0.4375rem;
  display: flex;
  margin: 0 auto;
  margin-top: 1.5625rem;
}

.UserMyPage_UpdateBorder {
  border: 0.0625rem solid #3da2ff;
  width: 90%;
  margin: 0 auto;
}

.UserMyPage_InfoUpdate {
  margin: 0 auto;
  margin-top: 3.125rem;
  width: 90%;
  height: 1.875rem;
  color: white;
  background: #3da2ff;
  border-radius: 20px 20px 0px 0px;
  padding-top: 0.75rem;
  border: 0.0625rem solid #3da2ff;
  font-weight: 1000;
  font-size: 1.0625rem;
}

.UserMyPage_button {
  width: 21.875rem;
  height: 2.5rem;
  margin: 0.625rem;
  margin-top: 1.25rem;
  background: #3da2ff;
  border-radius: 24px;
  border: none;
  color: white;
  font-family: "Inter";
  font-style: normal;
  font-weight: 1000;
  font-size: 1.0625rem;
  letter-spacing: 0.2rem;
  text-align: center;
}

.UserMyPage_error {
  text-align: left;
  padding-top: 0.625rem;
  padding-left: 2.8125rem;
  color: red;
  font-size: 0.8125rem;
}

.UserMyPage_inputSolo {
  width: 21.875rem;
  height: 2.5rem;
  margin-top: 0.8125rem;
  background: #f2f2f2;
  border: none;
  border-radius: 0.4375rem;
  padding-left: 0.625rem;
}

.UserMyPage_imageUpload {
  width: 21.875rem;
  height: 2.5rem;
  margin: 0.625rem;
  margin-top: 1.25rem;
  background: #3da2ff;
  border-radius: 24px;
  border: none;
  color: white;
  font-family: "Inter";
  font-style: normal;
  font-weight: 1000;
  font-size: 1.0625rem;
  letter-spacing: 0.2rem;
  text-align: center;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
}

.UserMyPage_image {
  width: 150px;
  height: 150px;
  background: #f4f4f4;
  border-radius: 50%;
  margin-left: 2.5rem;
  display: inline;
}

.UserMyPage_profile {
  width: 1.875rem;
  height: 1.875rem;
  /* background: #424242; */
  /* border-radius: 50%; */
}

.UserMyPage_profileDiv {
  display: inline;
}

.UserMyPage_nivo_text {
  font-weight: 800;
}
