html,
body {
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: "baseFont";
  src: url("./static/fonts/TTF/LeferiBaseRegular.ttf");
}

@font-face {
  font-family: "boldFont";
  src: url("./static/fonts/TTF/LeferiBaseBold.ttf");
}

@font-face {
  font-family: "melonFont";
  src: url("./static/fonts/EARLYFONT_WATERMELON_SALAD/EF_watermelonSalad.ttf");
}

@font-face {
  font-family: "dohyeon";
  src: url("./static/fonts/BMDOHYEON_ttf.ttf");
}