.AdminPageMain_top_div {
  margin: 0;
  padding: 0;
}

.AdminPageMain_nav_brand_text {
  margin: 0;
  margin-top: 40px;
  margin-left: 30px;
  font-size: 30px;
}

.AdminPageMain_side_nav_container {
  background-color: #424242;
  width: 18.75rem;
  height: 100vh;
  position: relative;
  color: white;

  transition: 0.4s;
}

.AdminPageMain_side_nav_container_NX {
  width: 85px;
}

.AdminPageMain_nav_upper,
.AdminPageMain_nav_heading,
.AdminPageMain_nav_manu,
.AdminPageMain_menu_item,
.AdminPageMain_menu_nav_footer {
  display: grid;
}

.AdminPageMain_nav_heading {
  grid-template-columns: 2fr, 1fr;
  grid-template-rows: 1fr;
  height: 4.6875rem;
}

.AdminPageMain_nav_brand {
  display: flex;
}

.AdminPageMain_nav_brand img {
  width: 2.5rem;
  padding: 0 10px;
}

.AdminPageMain_button {
  position: absolute;
  right: 0;

  background: none;
  border: none;
  cursor: pointer;

  margin: auto -0px;
  background-color: #3da2ff;
  border: 2px solid white;
  padding: 20px;
  border-radius: 90px;
  height: 71px;
  width: 74px;
}

.AdminPageMain_button span {
  display: block;
  margin-top: 5px;
  background-color: white;
  border-radius: 15px;
  height: 4px;
  width: 30px;

  transition: 0.4s;
}

.AdminPageMain_button:hover span {
  margin: auto;
}

.AdminPageMain_button_in:hover span:nth-child(1) {
  width: 25px;
  transform: translate(-3px, 8px) rotate(30deg);
}
.AdminPageMain_button_in:hover span:nth-child(2) {
  display: none;
}

.AdminPageMain_button_in:hover span:nth-child(3) {
  width: 25px;
  transform: translate(-3px, -8px) rotate(-30deg);
}

.AdminPageMain_button_out:hover span:nth-child(1) {
  width: 25px;
  transform: translate(0px, 8px) rotate(-30deg);
}
.AdminPageMain_button_out:hover span:nth-child(2) {
  display: none;
}

.AdminPageMain_button_out:hover span:nth-child(3) {
  width: 25px;
  transform: translate(0px, -8px) rotate(30deg);
}

.AdminPageMain_nav_manu {
  grid-template-rows: repeat(7, 1fr);
  margin-top: 50px;
}

.AdminPageMain_menu_item {
  height: 57px;
  display: flex;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  margin: 15px 20px;
  border-radius: 10px;
  position: relative;
}
.AdminPageMain_menu_item_NX {
  margin: 15px;
  width: 4.5rem;
}

.AdminPageMain_menu_item:hover {
  background-color: #3da2ff;
}
.AdminPageMain_menu_item img {
  padding: 6px 10px;
}
.AdminPageMain_menu_item:hover > .AdminPageMain_menu_tooltip {
  display: block;
}

.AdminPageMain_menu_tooltip {
  display: none;
  position: absolute;
  left: 99%;
  bottom: 80%;

  width: auto;
  height: 35px;
  padding: 4px, 8px;

  border-radius: 15px 15px 15px 0;
  white-space: nowrap;
  border: 2px solid white;
  background-color: #061b28;
}

.AdminPageMain_menu_nav_footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  grid-template-columns: 2fr 1fr;
  background-color: #424242;
}

.AdminPageMain_menu_nav_details {
  display: flex;
}

.AdminPageMain_menu_nav_details img {
  /* width: 40px; */
  padding: 10px 20px;
}

.AdminPageMain_menu_nav_footer_user_name {
  font-size: 18px;
  font-weight: 900;
}

.AdminPageMain_menu_nav_footer_user_position {
  margin-top: -15px;
  color: #d1d1d1;
}

.AdminPageMain_menu_log_out {
  width: 40px;
  margin: auto;
  border-radius: 90px;
  padding: 20px;
  margin-left: 5px;
}
.AdminPageMain_menu_log_out:hover {
  background-color: #3da2ff;
}

.asdasd {
  display: inline-flex;
  margin: 0 auto;
  text-align: center;
  font-size: 50px;
}
