.AdminLogin_input {
  width: 18.875rem;
  height: 3.125rem;
  margin: .625rem;
  background: #F2F2F2;
  border: .0625rem solid #3DA2FF;
  border-radius: .4375rem;
  border: none;
  padding-left: .625rem;
}

.AdminLogin_button {
  width: 18.875rem;
  height: 2.5rem;
  margin: .625rem;
  margin-top: 1.875rem;
  margin-bottom: 3.125rem;
  background: #3DA2FF;
  border-radius: 24px;
  border: none;
  color: white;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 1000;
  font-size: 1.0625rem;
  letter-spacing: 0.2rem;
}

.AdminLogin_link {
  width: 5.9375rem;
  height: 14px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 1000;
  font-size: .9375rem;
  line-height: .9375rem;
  text-align: center;
  letter-spacing: 0.2rem;
  color: #000000;
}

.AdminLogin_error {
  /* text-align: left; */
  /* padding-left: 4.375rem; */
  color: red;
  font-size: 1.125rem;
}