.AdminPageUser_top_div {
  display: flex;
}

.AdminPageUser_sidebar {
  width: auto;
  display: flex;
}
.AdminPageUser_user_gender_main {
  display: inline-block;
  margin-top: 50px;
  height: 400px;
  background-color: whitesmoke;
}

.AdminPageUserNivo_gender {
  width: 500px;
  height: 300px;
}
.AdminPageUser_user_gender_nivo_text {
  font-size: 1.875rem;
  text-align: center;
  font-weight: 800;
}

.AdminPageUser_user_age_main {
  display: inline-block;
  margin-top: 50px;
  height: 400px;
  background-color: whitesmoke;
  margin-left: 120px;
}
.AdminPageUser_user_age_nivo_text {
  font-size: 1.875rem;
  text-align: center;
  font-weight: 800;
}

.AdminPageUserNivo_age {
  width: 900px;
  height: 300px;
}

.AdminPageUser_user_center_main {
  display: inline-block;
  margin-top: 50px;
  height: 460px;
  background-color: whitesmoke;
}
.AdminPageUser_user_center_nivo_text {
  font-size: 1.875rem;
  text-align: center;
  font-weight: 800;
}

.AdminPageUserNivo_center {
  width: 500px;
  height: 400px;
}

.AdminPageUser_user_excercise_main {
  display: inline-block;
  margin-top: 50px;
  height: 460px;
  background-color: whitesmoke;
  margin-left: 120px;
}
.AdminPageUser_user_excercise_nivo_text {
  font-size: 1.875rem;
  text-align: center;
  font-weight: 800;
}

.AdminPageUserNivo_excercise {
  width: 900px;
  height: 400px;
}
