.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
}

.swiper-slide img {
  /* display: block; */
  margin-left: 1.25rem;
  width: 15rem;
  height: 8.4375rem;
  transition: 0.3s;
  object-fit: cover;
  border-radius: 1.25rem;
  border: solid 0.2rem rgba(250, 246, 246, 0.5);
}

.swiper-slider img:hover {
  scale: 0.95;
  transition: 0.3s;
}

.MainSlider_themeGray {
  text-align: left;
  padding-left: 1.5rem;
  padding-bottom: 0.875rem;
  font-size: 1.5rem;
  font-family: "GmarketSansMedium";
  font-weight: 500;
}

.MainSlider_themeWhite {
  text-align: left;
  padding-left: 1.5rem;
  padding-bottom: 0.875rem;
  font-size: 1.5rem;
  font-family: "GmarketSansMedium";
  font-weight: 500;
}

.MainSlider_themeEvent {
  width: 12.5rem;
  text-align: left;
  margin-left: 1.5rem;
  font-size: 0.9375rem;
  font-family: "GmarketSansMedium";
}

.MainSlider_title_text {
  font-size: 1.25rem;
  text-align: left;
  padding-left: 1.8rem;
  font-family: "GmarketSansMedium";
}

.MainSlider_ctgr_text {
  font-size: 0.9rem;
  text-align: left;
  padding-left: 2rem;
  font-family: "LINESeedKR";
}
